<!-- src/views/product/products.hbs -->
<form id="searchForm" class="" method="GET" action="/products/search">
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col-2">
                <h3>Search Filter</h3>
                <hr class="my-3">

                <div class="filter-group">
                    <label for="category" style="font-weight: 600; color: red;">By Category</label>

                    <!-- Dynamic category checkboxes -->
                    {{#each productCategoryList}}
                        <div class="form-check" style="font-weight: 400;">
                            <input class="form-check-input" type="checkbox" name="category" value="{{this.id}}" id="categoryCheck{{this.id}}" {{#if (includes ../query.category this.id)}}checked{{/if}}>
                            <label class="form-check-label" for="categoryCheck{{this.id}}">
                                {{this.name}}
                            </label>
                        </div>
                    {{/each}}
                </div>
                <hr class="my-3">

                <div class="filter-group">
                    <label for="brand" style="font-weight: 600; color: red;">By Brand</label>

                    <!-- Dynamic brand checkboxes -->
                    {{#each productBrandList}}
                        <div class="form-check" style="font-weight: 400;">
                            <input class="form-check-input" type="checkbox" name="brand" value="{{this.id}}" id="brandCheck{{this.id}}" {{#if (includes ../query.brand this.id)}}checked{{/if}}>
                            <label class="form-check-label" for="brandCheck{{this.id}}">
                                {{this.name}}
                            </label>
                        </div>
                    {{/each}}
                </div>
                <hr class="my-3">

                <div class="filter-group">
                    <label for="price-range" style="font-weight: 600; color: red;">Price Range</label>
                    <div class="form-group">
                        <input type="number" class="form-control" id="price-min" name="priceMin" placeholder="From"
                            min="0" value="{{query.priceMin}}">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="price-max" name="priceMax" placeholder="To"
                            min="0" value="{{query.priceMax}}">
                    </div>
                </div>
                <hr class="my-3">


                <div class="filter-group">
                    <label for="price-range" style="font-weight: 600; color: red;">Inventory Quantity</label>
                    <div class="form-group">
                        <input type="number" class="form-control" id="inventory-quantity-min"
                            name="inventoryQuantityMin" placeholder="From" min="0" value="{{query.inventoryQuantityMin}}">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="inventory-quantity-max"
                            name="inventoryQuantityMax" placeholder="To" min="0"
                            value="{{query.inventoryQuantityMax}}">
                    </div>
                </div>

            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="row">
                            <div class="col-10">
                                <input type="text" name="nameOrDescription" placeholder="Search by name or description" class="search-input"
                                    value="{{query.nameOrDescription}}">
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="row pl-4 pr-4 mt-3">
                        {{#each productList}}
                        <div class="col-lg-3 col-md-6 mb-4">
                            <a href="/products/{{this.id}}" style="text-decoration: none;">
                                <div class="card">
                                    <div class="brand">{{this.productBrand.name}}</div>
                                    <div class="product-image">
                                        <img src="{{this.image_urls.[0]}}" alt="Product" />
                                    </div>
                                    <div class="card-body">
                                        {{#if (gt this.sale 0)}}
                                        <span class="discount">{{this.sale}}% off</span>
                                        {{/if}}
                                        <h5 class="card-title text-center">{{this.name}}</h5>
                                        <h6 class="card-price text-center">${{this.price}}</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{/each}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<link rel="stylesheet" href="/css/products.css">