<!-- src/views/product/Products.hbs -->
<form id="searchForm" class="" method="GET" action="/products/search">
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col-2">
                <h3>Search Filter</h3>
                <hr class="my-3">

                <div class="filter-group">
                    <label for="category" style="font-weight: 600; color: red;">By Category</label>

                    <!-- checkbox -->
                    <div class="form-check" style="font-weight: 400;">
                        <input class="form-check-input" type="checkbox" name="category" value="database"
                            id="defaultCheck1" {{#if (includes query.category 'database' )}}checked{{/if}}>
                        <label class="form-check-label" for="defaultCheck1">
                            Database
                        </label>
                    </div>
                    <div class="form-check" style="font-weight: 400;">
                        <input class="form-check-input" type="checkbox" name="category" value="programming"
                            id="defaultCheck2" {{#if (includes query.category 'programming' )}}checked{{/if}}>
                        <label class="form-check-label" for="defaultCheck2">
                            Programming
                        </label>
                    </div>
                    <div class="form-check" style="font-weight: 400;">
                        <input class="form-check-input" type="checkbox" name="category" value="algorithm"
                            id="defaultCheck3" {{#if (includes query.category 'algorithm' )}}checked{{/if}}>
                        <label class="form-check-label" for="defaultCheck3">
                            Algorithm
                        </label>
                    </div>
                </div>
                <hr class="my-3">
                <div class="filter-group">
                    <label for="brand" style="font-weight: 600; color: red;">By brand</label>

                    <!-- checkbox -->
                    <div class="form-check" style="font-weight: 400;">
                        <input class="form-check-input" type="checkbox" name="brand" value="oracle" id="defaultCheck6"
                            {{#if (includes query.brand 'oracle' )}}checked{{/if}}>
                        <label class="form-check-label" for="defaultCheck6">
                            Oracle
                        </label>
                    </div>
                    <div class="form-check" style="font-weight: 400;">
                        <input class="form-check-input" type="checkbox" name="brand" value="jetbrains"
                            id="defaultCheck7" {{#if (includes query.brand 'jetbrains' )}}checked{{/if}}>
                        <label class="form-check-label" for="defaultCheck7">
                            JetBrains
                        </label>
                    </div>
                    <div class="form-check" style="font-weight: 400;">
                        <input class="form-check-input" type="checkbox" name="brand" value="apple" id="defaultCheck8"
                            {{#if (includes query.brand 'apple' )}}checked{{/if}}>
                        <label class="form-check-label" for="defaultCheck8">
                            Apple
                        </label>
                    </div>
                    <div class="form-check" style="font-weight: 400;">
                        <input class="form-check-input" type="checkbox" name="brand" value="microsoft"
                            id="defaultCheck9" {{#if (includes query.brand 'microsoft' )}}checked{{/if}}>
                        <label class="form-check-label" for="defaultCheck9">
                            Microsoft
                        </label>
                    </div>
                </div>
                <hr class="my-3">

                <div class="filter-group">
                    <label for="price-range" style="font-weight: 600; color: red;">Price Range</label>
                    <div class="form-group">
                        <input type="number" class="form-control" id="price-min" name="priceMin" placeholder="From"
                            min="0" value="{{query.priceMin}}">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="price-max" name="priceMax" placeholder="To"
                            min="0" value="{{query.priceMax}}">
                    </div>
                </div>

                <div class="filter-group">
                    <label for="price-range" style="font-weight: 600; color: red;">Inventory Quantity</label>
                    <div class="form-group">
                        <input type="number" class="form-control" id="inventory-quantity-min"
                            name="inventoryQuantityMin" placeholder="From" min="0" value="{{query.inventoryQuantityMin}}">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="inventory-quantity-max"
                            name="inventoryQuantityMax" placeholder="To" min="0"
                            value="{{query.inventoryQuantityMax}}">
                    </div>
                </div>

            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="row">
                            <div class="col-10">
                                <input type="text" name="nameOrDescription" placeholder="Search by name or description" class="search-input"
                                    value="{{query.nameOrDescription}}">
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="row pl-4 pr-4 mt-3">
                        {{#each productList}}
                        <div class="col-lg-3 col-md-6 mb-4">
                            <a href="/products/{{this.slug}}" style="text-decoration: none;">
                                <div class="card">
                                    <div class="brand">{{this.brand}}</div>
                                    <div class="product-image">
                                        <img src="{{this.image}}" alt="Product" />
                                    </div>
                                    <div class="card-body">
                                        {{#if (gt this.sale 0)}}
                                        <span class="discount">{{this.sale}}% off</span>
                                        {{/if}}
                                        <h5 class="card-title text-center">{{this.name}}</h5>
                                        <h6 class="card-price text-center">${{this.price}}</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{/each}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<link rel="stylesheet" href="/css/products.css">