<div class="heading_container heading_center mt-4">
    <h2 style="color: rgb(230, 28, 28);">
        {{productObject.name}}
    </h2>
</div>

<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        {{#if (gt productObject.discount 0)}}
                            <span class="discount">{{productObject.discount}}% off</span>
                        {{/if}}
                        <img src="{{productObject.image_urls.[0]}}" alt="Product Image" class="product-img">
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="row">
                        <div class="col-6">
                            <h2 class="product-title text-center">{{productObject.name}}</h2>
                        </div>
                        <div class="col-6">
<!--                            <h3 class="product-price text-center">Price: ${{productObject.price}}</h3>-->
                            <h3 class="product-price text-center">
                                Price: {{formatCurrency productObject.price 'en-US' 'USD'}}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="product-description">
                <p><span>Description: </span>{{productObject.desc}}</p>
            </div>

            <div class="product-details">
                <p><span>Brand: </span>
                    <span class="brand">
                        {{productObject.productBrand.name}}
                    </span>
                </p>
                <p><span>Inventory Quantity: </span> {{productObject.inventory_quantity}} products</p>
                <p><span>Category: </span>{{productObject.productCategory.name}}</p>
                <!--                <p><span>Ngày thêm sản phẩm: </span> 15/10/2024</p>-->
<!--                <p class="rating"><span>Rating: </span> ★★★★☆ (4/5)</p>-->
            </div>
            <hr>
        </div>
    </div>


    <div class="row text-center">
        <div class="col-6">
            <div class="quantity-container d-flex justify-content-center align-items-center">
                <span class="quantity-btn decrement">-</span>
                <input type="text" class="quantity-input" value="1" min="1" max="10" readonly>
                <span class="quantity-btn increment">+</span>
            </div>
        </div>
        <div class="col-6">
            <button type="button" class="btn-box btn-submit add-to-cart" data-id="{{productObject.id}}">
                Add
            </button>

<!--            <a href="#" class="btn-box btn-submit buy-now">-->
<!--                Buy Now-->
<!--            </a>-->
        </div>
    </div>

    <hr class="my-4">
</div>

<!--Product Reviews-->
<!-- src/views/product/product-reviews.hbs -->
<link rel="stylesheet" href="/css/productReviews.css">
<div class="container mt-4 mb-5">
    <h3>Product Reviews</h3>

    <!-- Add Review Button -->
    <button type="button" id="addReviewBtn" class="btn btn-primary" data-toggle="modal">
        Add Review
    </button>

    <div id="reviewList" class="row">
        {{#each reviews}}
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{this.user.first_name}} {{this.user.last_name}}</h5>
                        <p class="card-text">{{this.comment}}</p>
                        <p class="card-text"><small class="text-muted">Reviewed on {{this.created_at}}</small></p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item {{#unless pagination.hasPrev}}disabled{{/unless}}">
                <a class="page-link" href="#" data-page="{{pagination.prevPage}}">Previous</a>
            </li>
            {{#each pagination.pages}}
                <li class="page-item {{#if this.active}}active{{/if}}">
                    <a class="page-link" href="#" data-page="{{this.number}}">{{this.number}}</a>
                </li>
            {{/each}}
            <li class="page-item {{#unless pagination.hasNext}}disabled{{/unless}}">
                <a class="page-link" href="#" data-page="{{pagination.nextPage}}">Next</a>
            </li>
        </ul>
    </nav>

    <!-- Add Review Modal -->
    <div class="modal" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addReviewModalLabel">Add Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span id="closeAddReviewModal" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addReviewForm">
                        <div class="form-group">
                            <label for="reviewComment">Comment</label>
                            <textarea class="" id="reviewComment" rows="3" required
                                      style="text-transform: none;"></textarea>
                        </div>
                        <input type="hidden" id="productId" value="{{productObject.id}}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeAddReviewModalBtn">Close</button>
                    <button type="button" class="btn btn-primary" id="submitReview">Submit Review</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/productReviews.js"></script>


<div class="container mt-4 mb-5">
    <h3>Other Images:</h3>
    <div class="row">
        {{#each productObject.image_urls}}
            {{#if (and (gt @index 0) (lt @index 5))}}
                {{#if this}}
                    <div class="col-lg-3 col-md-6">
                        <div class="image--other">
                            <img src="{{this}}" alt="Product Image" class="product-img">
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        {{/each}}

    </div>
</div>

<div class="container mt-4 mb-5">
    {{#if relatedProductList}}
        <h3>Related Products: </h3>
        <div class="row">
            {{#each relatedProductList}}
                <div class="col-lg-3 col-md-6 mb-3">
                    <a href="/products/{{this.id}}" style="text-decoration: none;">
                        <div class="image--other">
                            <img src="{{this.image_urls.[0]}}" alt="Product Image" class="product-img">
                        </div>
                        <div class="detail-box">
                            <h5 class="text-center" style="color: black;">
                                {{this.name}}
                            </h5>
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
    {{else}}
        <h3>Related Products: None</h3>
    {{/if}}
</div>


<link rel="stylesheet" href="/css/productDetails.css">

<script>


    document.addEventListener("DOMContentLoaded", function () {

        console.log("DOM fully loaded and parsed");

        const decrementBtn = document.querySelector(".decrement");
        const incrementBtn = document.querySelector(".increment");
        const quantityInput = document.querySelector(".quantity-input");
        const addToCartBtn = document.querySelector(".btn-submit.add-to-cart");
        const buyNowBtn = document.querySelector(".btn-submit.buy-now");
        {{!-- const isLoggedIn = {{ #if user }}true{{ else}}false{{/if}}; --}}


        function showLoginModal() {
            $('#loginModal').modal('show');
        }

        decrementBtn.addEventListener("click", () => {
            let currentValue = parseInt(quantityInput.value);
            if (currentValue > parseInt(quantityInput.min)) {
                quantityInput.value = currentValue - 1;
            }
        });

        incrementBtn.addEventListener("click", () => {
            let currentValue = parseInt(quantityInput.value);
            if (currentValue < parseInt(quantityInput.max)) {
                quantityInput.value = currentValue + 1;
            }
        });

        addToCartBtn.addEventListener("click", async (event) => {
            event.preventDefault();

            showLoading();
            const productId = addToCartBtn.getAttribute('data-id');
            const quantity = parseInt(quantityInput.value);

            const products = {};
            products[productId] = quantity;

            try {
                const response = await fetch('/carts', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({products})
                });

                const data = await response.json();
                hideLoading();

                if(response.ok){
                    document.getElementById('cartQuantityIcon').setAttribute('value', data.result.cartAmountOfItems);
                    if (data.message) {
                        showAlert('success','Success', data.message);
                    }
                }
                else{
                    showAlert('error','Error', data.message);
                }
                
            } catch (error) {
                console.error('Error:', error);
                showAleart('error','Error', 'An error occurred. Please try again later.');
            } finally {
                accumulatedQuantities = {};
            }
        });

        async function fetchCartQuantity() {
            fetch('/carts/amount-of-items', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('cartQuantityIcon').setAttribute('value', data.amountOfItems);
                        console.log('Cart quantity:', data.amountOfItems);
                    })
                    .catch(error => {
                        console.error('Error fetching cart quantity:', error);
                    });
        }
    });

</script>