<div class="heading_container heading_center mt-4">
    <h2 style="color: rgb(230, 28, 28);">
        {{product.name}}
    </h2>
</div>

<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="image">
                        {{#if (gt product.sale 0)}}
                        <span class="discount">{{product.sale}}% off</span>
                        {{/if}}
                        <img src="{{product.image}}" alt="Product Image" class="product-img">
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="row">
                        <div class="col-6">
                            <h2 class="product-title text-center">{{product.name}}</h2>
                        </div>
                        <div class="col-6">
                            <h3 class="product-price text-center">Price: ${{product.price}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="product-description">
                <p><span>Description: </span>{{product.description}}</p>
            </div>

            <div class="product-details">
                <p><span>Brand: </span>
                    <span class="brand">
                        {{product.brand}}
                    </span>
                </p>
                <p><span>Inventory Quantity: </span> {{product.inventory_quantity}} products</p>
                <p><span>Category: </span>{{product.category}}</p>
<!--                <p><span>Ngày thêm sản phẩm: </span> 15/10/2024</p>-->
                <p class="rating"><span>Rating: </span> ★★★★☆ (4/5)</p>
            </div>
            <hr>
        </div>
    </div>



    <div class="row text-center">
        <div class="col-6">
            <div class="quantity-container d-flex justify-content-center align-items-center">
                <span class="quantity-btn decrement">-</span>
                <input type="text" class="quantity-input" value="1" min="0" max="10" readonly>
                <span class="quantity-btn increment">+</span>
            </div>
        </div>
        <div class="col-6">
            <a href="/cart" class="btn-box btn-submit add-to-cart">
                Add
            </a>
            <a href="#" class="btn-box btn-submit buy-now">
                Buy Now
            </a>
        </div>
    </div>

    <hr class="my-4">
</div>

<div class="container mt-4 mb-5">
    <h3>Other Images:</h3>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="image--other">
                <img src="{{product.image}}" alt="Product Image" class="product-img">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="image--other">
                <img src="{{product.image}}" alt="Product Image" class="product-img">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="image--other">
                <img src="{{product.image}}" alt="Product Image" class="product-img">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="image--other">
                <img src="{{product.image}}" alt="Product Image" class="product-img">
            </div>
        </div>

    </div>
</div>

<div class="container mt-4 mb-5">
    {{#if relatedProductList}}
    <h3>Related Products: </h3>
    <div class="row">
        {{#each relatedProductList}}
        <div class="col-lg-3 col-md-6 mb-3">
            <a href="/products/{{this.slug}}" style="text-decoration: none;">
                <div class="image--other">
                    <img src="{{this.image}}" alt="Product Image" class="product-img">
                </div>
                <div class="detail-box">
                    <h5 class="text-center" style="color: black;">
                        {{this.name}}
                    </h5>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{else}}
    <h3>Related Products: None</h3>
    {{/if}}
</div>



{{!-- <!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login Required</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You need to log in to proceed this action.
            </div>
            <div class="modal-footer">
                <a href="/login" class="btn btn-primary">Login</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> --}}

<link rel="stylesheet" href="/css/productDetails.css">

<script>
    
    
    {{!-- function showLoginModal() {
        $('#loginModal').modal('show');
    } --}}

    //# sourceURL=productDetail.js

    document.addEventListener("DOMContentLoaded", function () {
        const decrementBtn = document.querySelector(".decrement");
        const incrementBtn = document.querySelector(".increment");
        const quantityInput = document.querySelector(".quantity-input");
        const addToCartBtn = document.querySelector(".btn-submit.add-to-cart");
        const buyNowBtn = document.querySelector(".btn-submit.buy-now");

        function showLoginModal() {
            $('#loginModal').modal('show');
            // listen click login-btn
            // const loginBtn = document.querySelector('.login-btn');
            // loginBtn.addEventListener('click', () => {
            //     addToCart();
            // });
        }

        function addToCart() {
            fetch('/cart', {
                method: 'GET',
            })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        const contentType = response.headers.get('content-type');
                        if (!contentType || !contentType.includes('application/json')) {
                            return; // Do nothing if the content type is not JSON
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data) {
                            alert(data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('An error occurred while adding the product to the cart.');
                    });
        }

        decrementBtn.addEventListener("click", () => {
            let currentValue = parseInt(quantityInput.value);
            if (currentValue > parseInt(quantityInput.min)) {
                quantityInput.value = currentValue - 1;
            }
        });

        incrementBtn.addEventListener("click", () => {
            let currentValue = parseInt(quantityInput.value);
            if (currentValue < parseInt(quantityInput.max)) {
                quantityInput.value = currentValue + 1;
            }
        });

        addToCartBtn.addEventListener("click", (event) => {
            event.preventDefault(); // prevent the default navigation behavior when a is clicked
            if (!isLoggedIn) {
                showLoginModal();
            }
            else {
                addToCart();
            }
        });

    });
</script>