<div class="container" style="padding-top: 20px">
    <div class="cart_inner">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {{#each products}}
                    <tr data-id="{{this.product.id}}" data-max-quantity="{{this.product.inventory_quantity}}">
                        <td>
                            <div class="media">
                                <div class="d-flex">
                                    <img src="{{this.product.image_urls.[0]}}" alt="{{this.product.name}}"
                                         style="width: 100px; height: 100px"/>
                                </div>
                                <div class="media-body">
                                    <p>{{this.product.name}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5>${{this.product.price}}</h5>
                        </td>
                        <td class="text-center">
                            <div class="product_count">
                                <div class="quantity-container d-flex justify-content-center align-items-center">
                                    <span class="input-number-decrement decrease-quantity" data-id="{{this.product.id}}"
                                          style="cursor: pointer; padding: 5px 10px; background-color: #007bff; color: white; border-radius: 5px; margin: 0 5px; transition: background-color 0.3s;">-</span>
                                    <input type="text" class="quantity-input input-number"
                                           value="{{this.product.quantity}}" min="0" max="{{this.product.inventory_quantity}}" readonly
                                           style="text-align: center; width: 50px;">
                                    <span class="input-number-increment increase-quantity" data-id="{{this.product.id}}"
                                          style="cursor: pointer; padding: 5px 10px; background-color: #007bff; color: white; border-radius: 5px; margin: 0 5px; transition: background-color 0.3s;">+</span>
                                </div>
                                <div class="error-message" style="color: red; display: none;">Quantity exceeds inventory</div>
                            </div>
                        </td>
                        <td>
                            <h5 class="currPrice">${{this.currPrice}}</h5>
                        </td>
                        <td>
                            <button class="btn btn-danger remove-product">Remove</button>
                        </td>
                    </tr>
                {{/each}}
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <h5>Subtotal</h5>
                    </td>
                    <td>
                        <h5 id="cartTotalPrice">${{total}}</h5>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="checkout_btn_inner float-right">
                <a class="btn_1" href="/products" style="border: 1px solid transparent; margin-bottom: 20px;">
                    Continue Shopping
                </a>
                <a class="btn_1 checkout_btn" style="border: 1px solid transparent; margin-bottom: 20px;">
                    Proceed to checkout
                </a>
            </div>
        </div>
    </div>
         <div class="checkout_btn_inner">
        <a class="btn_1" href="/products" style="border: 1px solid transparent; margin-bottom: 20px;">
            Continue Shopping
        </a>
        <a class="btn_1 checkout_btn" style="border: 1px solid transparent; margin-bottom: 20px;">
            Proceed to checkout
        </a>
    </div>
</div>

<link rel="stylesheet" href="/css/cart.css">

<script src="/js/cart.js"></script>



