<!--<form action="/register" method="POST">-->
<!--    {{#if fail}}-->
<!--        <div class="error-message">{{message}}</div>-->
<!--    {{/if}}-->
<!--    <label for="username">Username</label>-->
<!--    <input type="text" id="username" name="username" required>-->

<!--    <label for="email">Email</label>-->
<!--    <input type="email" id="email" name="email" required>-->

<!--    <label for="password">Password</label>-->
<!--    <input type="password" id="password" name="password" required>-->

<!--    <label for="confirmPassword">Confirm Password</label>-->
<!--    <input type="password" id="confirmPassword" name="confirmPassword" required>-->

<!--    <button type="submit">Register</button>-->

<!--    <small>Return to the login page ? <a href="/login">Login</a></small>-->
<!--</form>-->

<!--<link rel="stylesheet" href="/css/register.css">-->
<link rel="stylesheet" href="/css/register.css">
<form action="/auth/register" method="POST">
    {{#if fail}}
        <div class="error-message">{{message}}</div>
    {{/if}}

    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" value="{{firstName}}" required>

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" value="{{lastName}}" required>

    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="{{username}}" required>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" value="{{email}}" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>

    <button type="submit">Register</button>

    <small>Return to the login page ? <a href="/auth/login">Login</a></small>
</form>

